.mbp-card {
    margin: 0.5rem auto;
    display: flex;
    max-width: 800px;
    min-height: 100px;
    border-left: 3px solid rgb(25, 135, 200);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    align-items: center;
    transition: 0.1s all ease-in-out;
    &-img {
        height: 100px;
        min-width: 100px;
        max-width: 100px;
        margin-right: 1rem;
        align-self: flex-start;
        img {
            width: 100%;
            border-radius: 100%;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
        }
    }
    &-info {
        border-left: 2px solid rgba(25, 135, 200, 1);
        padding-left: 1rem;
        p {
            opacity: 0.5;
            margin: 0.1rem;
        }
    }
    &:hover {
        transform: scale(1.03);
        cursor: pointer;
        border: 1px double rgb(25, 135, 200);
        border-left: 3px solid rgba(25, 135, 200, 1);
        box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);
    }
}
