<div class="mbp-card" *ngIf="data" routerLink="/panel/user/{{data.id}}">
    <div class="mbp-card-img">
        <img src="{{data.avatar}}" alt="{{data.name}}-avatar">
    </div>
    <div class="mbp-card-info">
        <h2>{{data.name}}</h2>
        <h5>Age: {{data.age}}</h5>
        <p>Gender:
            <ng-container [ngSwitch]="data.gender">
                <span *ngSwitchCase="'M'">Male</span>
                <span *ngSwitchCase="'F'">Female</span>
                <span *ngSwitchDefault> - </span>
            </ng-container>
        </p>
        <p>{{data.description}}</p>
        <p *ngIf="data.work">{{data.work}}</p>
    </div>
</div>
