<div class="mbp-login-container p-0">
    <div class="mbp-login-form col-lg-5 col-xs-12 mx-3">
        <img [src]="data.LOGO" class="mbp-login-form-logo" alt="">
        <div class="mbp-login-form mbp-login-form-content" app-login-form>
        </div>

        <div class="mbp-login-form-footer">
            <div class="mbp-login-form-footer-links">
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="#">Blog</a>
            </div>
            <div class="mbp-login-form-footer-socials">
                <a href="#"><i class="fab fa-linkedin login-form-footer-socials-social"></i></a>
                <a href="#"><i class="fab fa-twitter-square login-form-footer-socials-social"></i></a>
                <a href="#"><i class="fab fa-instagram-square login-form-footer-socials-social"></i></a>
            </div>
        </div>
    </div>
    <img [src]="data.STYLE_BACKGROUND" alt="" class="mbp-login-container-img col-lg-7 col-xs-0 px-0">
</div>