<div class="mbp-login-container p-0">
    <div class="mbp-login-form col-5 mx-3">
        <div class="mbp-login-form-content ">
            <h1>Welcome</h1>
            <p>Thanks for coming back. Please, fill the form.</p>
            <div class="mbp-login-form-input">
                <label>Email*: </label>
                <input type="email" placeholder="Enter email">
            </div>
            <div class="mbp-login-form-input">
                <label>Password*: </label>
                <input type="password" placeholder="Enter password">
            </div>
            <small>I forgot my password</small>
            <div class="mbp-login-form-buttons">
                <button class="mbp-login-form-buttons-signup">
            Sign Up
          </button>
                <button class="mbp-login-form-buttons-signin">
            Sign In
          </button>
            </div>
        </div>

        <div class="mbp-login-form-footer">
            <div class="mbp-login-form-footer-links">
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="#">Blog</a>
            </div>
            <div class="mbp-login-form-footer-socials">
                <i class="fab fa-linkedin login-form-footer-socials-social"></i>
                <i class="fab fa-twitter-square login-form-footer-socials-social"></i>
                <i class="fab fa-instagram-square login-form-footer-socials-social"></i>
            </div>
        </div>
    </div>
    <img src="https://c0.wallpaperflare.com/preview/275/13/117/lock-key-engraving-security.jpg" alt="" class="mbp-login-container-img col-7">
</div>