<nav class="sidebar sidebar-show">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-title text-primary">
            <h3>Web Page </h3>
        </li>
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" routerLink="/panel/home">
                <i class="fas fa-home"></i> Home
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" routerLink="/panel/user">
                <i class="fas fa-users"></i> Users
                <span class="badge badge-primary">NEW</span>
            </a>
        </li>
    </ul>
    <button class="sidebar-minimizer" routerLink="/panel/user/default"><i class="fas fa-chevron-left"></i></button>
</nav>
